.SectionInputsContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    background-color: var(--color-background-section-inputs);
    height: auto;
}

/* Estilos para pantallas de escritorio */
@media screen and (min-width: 1024px) {

}

/* Estilos para tabletas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .SectionInputsContainer {
        gap: 20px;
    }
}

/* Estilos para dispositivos móviles */
@media screen and (min-width: 320px) and (max-width: 767px) {
    .SectionInputsContainer {
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 20px;
    }
}