.container {
    display: flex;
    flex-direction: column;
    color: white;
    height: 60vh;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 85vh;
    padding-left: 96px;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.titleBanner{
    font-size: 73px;
    font-weight: 300;
}

.subTitleBanner{
    font-size: 36px;
    
}

.paragraph{
    font-weight: lighter;
    font-size: 18.5px;
    width: 100%;
}

.paragraphs{
    padding-top: 10px;
}

.buttonBanner{
    display: flex;
    border-radius: 15px;
    background-color: var(--color-secondary);
    border: 0;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 60px;
    padding: 25px;
    margin-top: 50px;
    color: var(--color-primary);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.buttonBanner:hover{
    background-color: var(--color-background);
    transform: scale(1.1);
    border: 1px solid white;
}

.buttonBanner:active{
    background-color: var(--color-secondary);
}

.textButton{
    font-weight: 700;
    font-size: 20px;
}

.buttonBanner:hover rect{
    fill: var(--color-secondary);
}

.buttonBanner:hover polygon{
    fill: var(--color-primary);
}

.buttonBanner:active rect{
    fill: var(--color-primary);
}

.buttonBanner:active polygon{
    fill: var(--color-background);
}


/* Estilos para pantallas de escritorio */
@media screen and (min-width: 1024px) {

}

/* Estilos para tabletas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .titleBanner{
        font-size: 50px;
        font-weight: 300;
    }
    
    .subTitleBanner{
        font-size: 26px;
        
    }
    
    .paragraph{
        font-weight: lighter;
        font-size: 17px;
        
    }
    
    .paragraphs{
        padding-top: 10px;
        
    }
    .subContainer {
        padding-left: 45px;
    }
}

/* Estilos para dispositivos móviles */
@media screen and (min-width: 320px) and (max-width: 767px) {
    .titleBanner{
        font-size: 32px;
        font-weight: 300;
    }
    
    .subTitleBanner{
        font-size: 16px;
        
    }
    
    .paragraph{
        font-weight: lighter;
        font-size: 14px;
    }
    
    .paragraphs{
        padding-top: 10px;
        width: 270px;
    }

    .subContainer {
        padding-left: 20px;
    }

    .buttonBanner{
        width: 200px;
        height: 60px;
    }

    .textButton{
        font-weight: 600;
        font-size: 19px;
    }
    
}