.react-multi-carousel-list{
    position: unset !important;
  }
  
.react-multiple-carousel__arrow--left {
    left: calc(3% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
    right: calc(2% + 1px) !important;
}