nav{
   display: flex;
   align-items: center; 
}

.navBarContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: var(--color-primary);
    height: 70vh;
}

.navBarContainer > *:nth-child(2) {
    width:  30vw;
}

.menuContainer{
    display: flex;
    padding-top: 40px;
    color: var(--color-background);
    font-size: 18px;
    font-weight: 100;
    width: 70vw;
    justify-content: space-around;
}

.menuContainer > li {
    width: 150px;
    text-align: center;
    font-weight: normal;
    transition: font-weight 0.1s ease-in-out
}

.menuContainer > li:hover {
    font-weight: bold;
}

.bannerNavContainer{
    display: flex;
    flex-direction: row;
    width: 70vw;
}

.menuItem {
    border-bottom: 1px solid white;
    font-weight: 100;
    transition: font-weight 0.1s ease-in-out;
}

.menuItem:hover {
    font-weight: bold;
}

.menuItemActive{
    font-weight: bold;
}

.menuItemInactive{
    font-weight: normal;
}

.submenuItem {
    display: block;
    border-bottom: 1px solid white; 
    margin-left: 20px;
    font-weight: 100; 
    transition: font-weight 0.1s ease-in-out;
}

.submenuItem:hover {
    font-weight: bold;
}

.internalMenu{
    display: block;
}

.internalMenu:hover{
    font-weight: bold;
}

.submenuContainer{
    margin-top: 5px;
    min-height: 100px;
    border-radius: 15px;
    background-color: var(--color-secondary);
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    width: 150px;
    text-align: left;
}

.contSub{
    padding-top: "2px";
    margin-right: "10px";
    height: 95px;
}

.contSubHidden{
    display: none;
}

.p3 {
    display: flex;
    border-bottom: 1px solid white;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    transition: font-weight 0.1s ease-in-out;
}

.p3:hover{
    font-weight: bold;
}


.mobile i{
    color: #fff;
    align-items: center;
    padding-top: 35px;
    
}

.mobile {
    z-index: 9999;
    
}

.active {
    left: 0px;
}

.mobile {
    display: none;
}

/* Estilos para pantallas de escritorio */
@media screen and (min-width: 1024px) {

}

/* Estilos para tabletas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .submenuContainer{
        min-height: 100px;
        border-radius: 15px;
        background-color: var(--color-secondary);
        padding-top: 10px;
        padding-right: 20px;

        margin-left: 0px;
        width: 150px;
        text-align: left;
    }

}

/* Estilos para dispositivos móviles */
@media screen and (min-width: 320px) and (max-width: 767px) {
    .menuContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        color: var(--color-background);
        position: absolute;
        top: 0px;
        left: -100%;
        width: 90%;
        height: 200vh;
        background-color: rgba(60,89,115, 0.8);
        /* box-shadow: 0 40px 60px rgba(0, 0, 0, 0.7); */
        padding: 40px 0 0 10px;
        z-index: 9998;
        transition: 0.3s ease-in-out;
        align-items: center;
    }

    .active {
        left: 0px;
    }
    
    .mobile {
        display: block;
        padding-left: 20px;
        padding-top: 20px;
    }

    
}
